<h1>Comments Received</h1>
<table class="table">
  <thead>
    <tr>
      <th>content</th>
      <th>Owner</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
{{#each recipes}}
  {{#each comments}}
    <tr>
      <th>{{body}}</th>
      <td>{{user}}</td>
      <td>{{generateDate date 'MMMM Do YYYY'}}</td>
      <td>
          <form action="/admin/comments/{{id}}?_method=DELETE" method="post">
              <button type="submit" class="btn btn-danger">Delete</button>
          </form>
      </td>
    </tr>
  {{/each}}
{{/each}}
  </tbody>
</table>
